.history {
  margin: 15px 0;
  padding: 33px 15px 15px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, .64)
}

[class*="badger"] {
  position: relative
}

[class*="badger"]:after {
  content: attr(data-badger);
  position: absolute;
  top: 0;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background: #999;
  color: #fff
}

.badger-left {
  border-top-left-radius: 6px
}

.badger-left:after {
  left: 0;
  border-radius: 6px 0 6px 0
}

.badger-right {
  border-top-right-radius: 6px
}

.badger-right:after {
  right: 0;
  border-radius: 0 6px 0 6px
}

.badger-info:after {
  background: #5bc0de
}
